<% require 'enumerator' %>
<table>
  <% @photos.each_slice(5) do |photo_group| %>
    <tr>
      <% photo_group.each do |photo| %>
        <td><a href=<%= photo_path(photo) %>><img src=<%= photo.url %> width=75 /></a></td>
      <% end %>
    </tr>
  <% end %>
</table>
