<!DOCTYPE html>
<html>
<head>
  <title>PhotoAlbum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Colleen and Spencer's Europe Adventure</h1>

<p>Unsatisfied with mainstream image sharing options, I made my own.</p>
<%= yield %>

<footer>
  <p>
    If you would like to donate some much-needed CSS, <a href="https://github.com/cmurphy/photo_album">check out the source</a>.
  </p>
</footer>

</body>
</html>
